/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.pTop-Btm-3rem {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.octicon {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

[v-cloak] {display: none}


.nav-links.nav-tabs .nav-link:hover,
.nav-links.nav-tabs .nav-link:focus {
    border-color: #fff #fff #dee2e6;
}

.nav-links.nav-tabs .nav-link.active,
.nav-links.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #fff #fff #495057;
    font-weight: 700;
}

.nav-links.nav-tabs .nav-link {
    border: 2px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}