/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.pTop-Btm-3rem {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}


.pTop-5rem {
    padding-top: 5rem;
}

.octicon {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
}
