body {
    font-size: .975rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  /*
   * Sidebar
   */

   .wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .wrapper.toggled {
    padding-left: 220px;
  }
  
  .sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    //background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .nav-sidebar {
    box-shadow: inset -2px 0 0 #e5e5e5;
  }
  
  .wrapper.toggled .sidebar-wrapper {
    width: 220px;
  }
  
  .page-content-wrapper {
    width: 100%;
    position: absolute;
    //padding: 15px;
  }
  
  .wrapper.toggled .page-content-wrapper {
    position: absolute;
    margin-right: -220px;
  }

  /*
   * Sidebar stles
   */

   .nav-sidebar ul {
     padding-left: 0;
     list-style: none;
   }

   .sidebar-top-level-items>li.active,
   .sidebar-top-level-items>li.active a:hover{
     background: rgba(0,0,0,0.04);
   }


   .sidebar-top-level-items>li a:hover,
   .sidebar-top-level-items>li.active a:hover,
   {
     background: rgba(0,0,0,0.04);
     color: #2e2e2e;
   }

   .nav-sidebar li.active {
     box-shadow: inset 4px 0 0 #4b4ba3;
   }

   .nav-sidebar li {
     white-space: nowrap;
   }

   .nav-sidebar li.active>a {
     color: #393982;
     font-weight: 600;
   }

   .sidebar-top-level-items>li.active>a {
     margin-left: 4px;
     padding-left: 11px;
   }

   .nav-sidebar li a {
     transition: paadding 0.3s;
     display: flex;
     align-items: center;
     padding: 12px 15px;
     color: #707070;
   }

   .nav-sidebar a {
     text-decoration: none;
   }

   .sidebar-sub-level-items {
     padding-bottom: 8px;
   }

  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    /*background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);*/
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  
  /*
   * Utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }

  @media(min-width:768px) {
    .wrapper {
      padding-left: 0;
    }
    .wrapper.toggled {
      padding-left: 220px;
    }
    .sidebar-wrapper {
      width: 0;
    }
    .wrapper.toggled .sidebar-wrapper {
      width: 220px;
    }
    .page-content-wrapper {
      //padding: 20px;
      position: relative;
    }
    .wrapper.toggled .page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }