$black: #4E535A;
$silver: #CFD7E6;
$border: 2px;
$size: 29px;

.loader {
    border: $border solid $silver;
    border-radius: 50%;
    border-top: $border solid $black;
    width: $size;
    height: $size;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }